.d-inline-block{
    
}
.align-text-top{
    
}
.justify-content-end{
}
.navbar{
  font-family: 'Playfair Display', serif;
  
}
.navbar img{
  width: 60px;
  height: 40px;
}
.navbar.bg-body-tertiary {
    color: #811616; /* Ganti #your-color dengan kode warna latar belakang yang Anda inginkan */
  }  
 
  .hero {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
}
.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.feature {
    background-size: cover; /* Mengisi kotak dengan gambar */
    background-position: center; /* Posisikan gambar ke tengah */
    background-repeat: no-repeat; /* Hentikan pengulangan gambar jika ada */
  }
  .animate-me {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
.animate-me.visible {
  opacity: 1;
  visibility: collapse;
  
}

 
.d-block{}
.w-100{}
.active{}
.carousel{}

.header {
  background-color: #343a40;
  color: #ffffff;
  padding: 20px;
}
.about-content {
  padding: 20px;
}
.about-image {
  margin-top: 20px;
}
/* Ubah warna latar belakang "Siapa Kami" menjadi biru */
.siapa-kami {
  background-color:saddlebrown;
  color: #ffffff;
  padding: 30px;

}
.map-container {
  margin: 20px; /* Ubah sesuai kebutuhan Anda */
}

/* CSS untuk gaya teks "Our Location" */
.location-heading {
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: darkgoldenrod;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.5); /* Transparansi latar belakang */
  color: white;
  text-align: center;
  padding: 10px;
}
.carousel-item img {
  height: 600px; /* Sesuaikan tinggi gambar sesuai kebutuhan Anda */
  object-fit: cover;
}

/* menu  */

.cardh{
 
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: #2f1d58;
    height: auto;
    overflow: auto;
    flex-direction: row;
    gap: 30px;
    font-family: 'Playfair Display', serif
    
    
}
.card1 {

  position: relative;

  margin: 20px;
  width: 400px;
  height: 400px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card1 svg {
  width: 60px;
  fill: #d2a1a1;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card1:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card1:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 28px;
  color: #333;
  font-weight: 700;
}

.card1:hover img{
  scale: 0;
  font-family: 'Playfair Display', serif
}

.card__description {
  font-family: 'Playfair Display', serif;
  margin: 10px 0 0;
  font-size: 18px;
  color: #777;
  line-height: 1.4;
}
.card1 img{
  height: 400px;
  
}

.headd{
  padding: 60px;
  color: aliceblue; 
  background-color: #2f1d58;
  margin-bottom: 0px;
  text-align: center;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 0px;
  font-family: 'Playfair Display', serif;

}
.underline{
  background-color: #2f1d58;
  color: white;
  width: 100%;
  margin: 0px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 40px;
}

.gallery {
  position: relative;
  display: flex;
  margin-top: opx;
  margin-bottom: 0px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 100%;
  background-color: #2f1d58;
  height: wrap;
  overflow: auto;
  flex-direction: row;
}


.gallery img {
  width: 500px;
  height: 300px;
  margin: 30px;
  margin-bottom:30px;
  background-color: lightblue;
  border-radius: 15px;
}

/*button location*/
.swipe {
  position: relative;
  background-color: #F1F7F7;
  width: 200px;
  height: 60px;
  color: rgba(255, , 204, 1);
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  letter-spacing: 2px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.35);
  border-left: 0.5px solid rgba(0, 0, 0, 0.35);
  padding-left: 40px;
  cursor: pointer;
  transition: 0.35s ease;
  margin: 0 auto;
  
}

.swipe:hover {
  padding-left: 0;
  padding-right: 40px;
  color: #324B4C;
}

.location {
  position: absolute;
  left: 5px;
  width: 50px;
  height: 50px;
  background: #7AB5B7;
  border-radius: 50%;
  transition: 0.35s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f4f7;
}

.swipe:hover .location {
  left: calc(100% - 55px);
  color: #324B4C;
}

/* profile */
.profile{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    background-color: #2f1d58;
    height: auto;
    overflow: auto;
    flex-direction: row;
}


.profile-1{
  color: white;
  width: 500px;
    height: 300px;
    margin: 15px;
    background-color: #2f1d58;
    
}
.profile-2{
  color: white;
  width: 500px;
  height: 300px;
  margin: 15px;
    background-color: #2f1d58;
    
}

.menus{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  background-color: #2f1d58;
  height: auto;
  overflow: auto;
  flex-direction: row;
  gap: 15px;
  
}
.card_menu {
  position: relative;
  width: 350px;
  height: 250px;
  color: #2e2d31;
  background: #131313;
  overflow: hidden;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.card_menu img{
  width: 500px;
  height: auto;
  max-width: 100%;
  max-height: auto;
}



.card_menu_title {
  font-weight: bold;
}

.card_menu_content {
  position: absolute;
  left: 0;
  bottom: 0;
    /* edit the width to fit card */
  width: 100%;
  padding: 20px;
  background: #f2f2f2;
  border-top-left-radius: 20px;
    /* edit here to change the height of the content box */
  transform: translateY(200px);
  transition: transform .25s;
  margin-bottom: 52px;
}

.card_menu_content::before {
  content: '';
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #f2f2f2;
}

.card_menu_title {
  color: #131313;
  line-height: 15px;
  font-size: 25px;
}

.card_menu_subtitle {
  display: block;
  font-size: 13px;
  margin-bottom: 10px;
  margin: auto;
}

.card_menu_description {
  font-size: 15px;
  opacity: 0;
  transition: opacity .25s;
  
}

.card_menu:hover .card_menu_content {
  transform: translateY(0);
  margin: auto;
  transition: ease-out;
  
}

.card_menu:hover .card_menu_description {
  opacity: 1;
  transition-delay: 0,25s;
}
.harga{
 font-size:22px;
    color: black;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 100%;

}

.button {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #222;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: #555;
  font-size: 0.9rem;
  color: #fff;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #555;
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,.text,.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0
}

.text,.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #222;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}




.saran{
  position: relative;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: calc(100% - 20px);
  background-color: #fbfafb;
  height: auto;
  overflow: auto;
  flex-direction: row;
  padding: auto;
  
}
.saran img{
  width: 550px;
  
  gap: 30px;
  margin-bottom:30px;
  background-color: lightblue;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  
}


form {
  background-color: #fff;
  padding: 20px;

  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 550px auto;
  flex-wrap: wrap;
  height: auto;
  margin: 10px;
  
  
  
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
textarea {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="date"] {
  padding: 8px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}



.order-form {
  background-color: #fff;
  padding: 20px;

  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 550px auto;
  flex-wrap: wrap;
  height: auto;
  margin: 10px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #45a049;
}

/* Popup Message Style */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.disabled-option {
  color: white; /* Warna abu-abu */
  background-color: #7AB5B7;
}
.headcathering{
  font-weight: bold;
  padding: 20px;
  text-align: center;
  background-color: rgb(218, 159, 8);
}

.buyctr{
  align-items: center;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  background-color: #2f1d58;
}

.btnbuymn {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid black;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: black;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  background-color: white;
}

.btnbuymn:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: black;
  z-index: -1;
}

.btnbuymn:hover, button:focus {
  color: white;
}

.btnbuymn:hover:before, button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.btnbuymn:active {
  transform: scale(0.9);
}

.footer{
  height: 100px;
}