.d-inline-block{
    
}
.align-text-top{
    
}
.justify-content-end{
}
.navbar.bg-body-tertiary {
    color: #811616; /* Ganti #your-color dengan kode warna latar belakang yang Anda inginkan */
  }  

  .hero {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.feature {
    background-size: cover; /* Mengisi kotak dengan gambar */
    background-position: center; /* Posisikan gambar ke tengah */
    background-repeat: no-repeat; /* Hentikan pengulangan gambar jika ada */
  }
  .animate-me {
    opacity: 0;
    transform: translateY(20px); /* Mulai dari luar layar ke atas */
    transition: opacity 1s, transform 1s;
}
 
.d-block{}
.w-100{}
.active{}
.carousel{}

.header {
  background-color: #343a40;
  color: #ffffff;
  padding: 20px;
}
.about-content {
  padding: 20px;
}
.about-image {
  margin-top: 20px;
}
/* Ubah warna latar belakang "Siapa Kami" menjadi biru */
.siapa-kami {
  background-color:saddlebrown;
  color: #ffffff;
  padding: 30px;
}
.map-container {
  margin: 20px; /* Ubah sesuai kebutuhan Anda */
}

/* CSS untuk gaya teks "Our Location" */
.location-heading {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: darkgoldenrod;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.5); /* Transparansi latar belakang */
  color: white;
  text-align: center;
  padding: 10px;
}
.carousel-item img {
  height: 600px; /* Sesuaikan tinggi gambar sesuai kebutuhan Anda */
  object-fit: cover;
}

.cardh{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: #2f1d58;
    height: auto;
    overflow: auto;
    flex-direction: row;
    gap: 30px;
    
}
.card1 {

  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card1 svg {
  width: 60px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card1:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card1:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card1:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}
